{% extends 'base.html.twig' %}
{% block title "Admin-creation d'un bien"%}
{% block body %}
    <div class="container mt-4">
        <h1>Création d'un nouveau bien  </h1>
        {{  include('admin/property/_form.html.twig', {form: form, button:'Créer'}) }}
    </div>


{%  endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tom-select@2.0.0/dist/css/tom-select.css">
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.0.0/dist/js/tom-select.complete.min.js"></script>
    <script defer>
        new TomSelect(".form-select", {});
    </script>
{% endblock %}